/* GLOBAL STYLES START */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: #d8bf76;
    --secondary-color: black;
    --tertiary-color:  white;
    --quaternary-color:  #696969;
  }
    /* GLOBAL STYLES END */

    
  /* BODY STYLES START */
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* HEADER & NAVIGATION STYLES START */
  header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    background-position: 80%;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 2.00vw;
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
  }
  
  header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: 200;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow:none;
  }
  /* HEADER & NAVIGATION STYLES END */

  /* STYLE ALL SECTION TAGS */
  section {
    padding: 50px;
  }

  .section-title {
    font-size: 48px;
    padding-bottom: 20px;
    width: 50%;
    border-bottom: 3px solid;
    margin: 0 auto 35px auto;
    color: var(--secondary-color);
    text-align: center;
  }
  /* END ALL SECTION TAGS */ 

  /* INTRO STYLE STARTS */
  .primary-border {
     border-color: var(--primary-color);
  }
  

  /* HERO STYLES START */
  .hero {
    padding: 5%;
    background-image: url('../images/hero-background.jpeg');
    background-position: 80%;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  figure h2 {
    width: 75%;
    text-align: right;
    margin: 3.5%;
    font-style: italic;
    font-size: 55px;
    color: var(--quaternary-color);
    line-height: 1.2;
    text-shadow: black);
  }
  /* HERO STYLES END */

   /* INTRO STYLES START */
   #bio span {
    margin-top: auto;
    width: 35%;
    background-color: var(--primary-color);
    color: var(--terciary-color);
    padding: 10px 10px;
    text-align: center;
   }
   .intro p {
    line-height: 1.25;
    color: var(--secondary-color);
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
  }
  /* INTRO STYLES END */
   
  /* MAOM STYLES START */
  main {
    background-color: var(--primary-color);
    width: 80%;
    padding: 20px
    padding-top: 25px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  main h2 {
    padding-top: 2%;
    font-size: 48px;
    padding-bottom: 20px;
    width: 50%;
    border-bottom: 3px solid;
    margin: 0 auto 35px auto;
    color: var(--secondary-color);
    text-align: center;
  }
 
  .secondary-border {
    border-color: var(--secondary-color);
  }

  main section {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* flex parent */
.flex-container {
  /* create flex box */
  display: flex;
  /* tells flexbox to break to next line if it runs over*/
  flex-wrap: wrap;
  /* put all unused space between items */
  justify-content: space-between;
  width: 100%;
}

/* flex child */
.flex-item {
  /* make each elemtn specific width, 100% minus width is space between each element */
  width: 45%;
 
  /* put space between each element vertically */
  margin-bottom: 15px;

  /* see images folder */
  background-image: url('../images/placeholder-420x227.png');

  /* background to fit box no matter what */
  background-size: cover;

  /* crop background at the center */
  background-position: center;

  /* padding top and bottom first number, then left/right */
  padding: 20px 0;

  /* set minimum heigh value */
  min-height: 250px;

  /* flexbox and create column instead of row */
  display: flex;
  flex-direction: column;
}

/* for text area inside of flex item */
.flex-item span {
  /* element to bottom of flex item */
  margin-top: auto;
  width: 30%;
  align-items: left;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 10px 5px;
  font-size: 20px;
  text-align: center;
}

.flex-item1 {
  width: 100%;
  height: 100%;
  background-image: url('../images/Code-Refactor-952x514.jpg')
  }
  /* MAIN SECTION STYLES END */
 
   /* CONTACT STYLES START */
  .contact {
    background: var(--quaternary-color);
  
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  .tertiary-border {
    border-color: var(--tertiary-color);
  }

  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }
  
  .contact-info > * {
    flex: 1;
    margin: 15px
  }
  
  .contact-info iframe {
    min-height: 400px;
  }
  
  .contact-info div {
    color: white;
  }
  
  .contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
  }
  
  .contact-info {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  
  .contact-info a {
    color: var(--primary-color);
  }
  
  #infop {
    font-size: larger;
  }
  /* CONTACT STYLES END */
  
  /* FOOTER STYLES START */
  footer {
    background: var(--secondary-color);
    padding: 5px 5px;
    color: var(--primary-color);
    width: 100%;
  }
  
  footer section {
    line-height: 1.5;
    text-align: center;
    padding: 10px;
  }
  /* END FOOTER STYLES *  

  /* RESPONSIVE LAYOUT START - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
      width: 75%;
    }
  }
  /* RESPONSIVE LAYOUT END */

  /* 2.4 - MEDIA QUERIES FOR SMALL SCREENS TO TABLETS */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .hero figure {
      width: 100%;
    }
  
    .hero figure {
      text-align: center;
    }
  
    .project-items {
      flex: 0 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    
    }
  
    .contact-info iframe{
      flex: 1 100%;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
  }
  
  /* 2.4 - MEDIA QUERIES FOR TABLETS DOWN TO PHONES */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    
    .section-title {
      width: 100%;
    }
  
  /* 2.4 - MEDIA QUERIES FOR PHONE */
  @media screen and (max-width: 575px) {
    
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .flex-container{
      flex: 0 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;    
    }
    .contact-info > * {
      flex: 0 100%;
    }
  
  }
}   